:root {
  --cdme-padding-small: 6px;
  --cdme-padding-medium: 16px;
  --cdme-padding-large: 26px;
  --cdme-margin-small: 6px;
  --cdme-margin-medium: 16px;
  --cdme-margin-large: 26px;
  --cdme-gap-small: 6px;
  --cdme-gap-medium: 16px;
  --cdme-gap-large: 26px;

  --cdme-font-size-small: 12px;
  --cdme-font-size-medium: 16px;
  --cdme-font-size-large: 18px;
  --cdme-font-size-xl: 20px;

  --cdme-scroll: #8b8b8b;
  --cdme-scroll-hover: #636363;
  --cdme-radius: 0.368rem;

  --cdme-gap-small: 6px;
  --cdme-gap-medium: 16px;
  --cdme-gap-large: 26px;
}
