:root {
  --cdme-bg: #fff;
  --cdme-header-bg: #f6f8fa;
  --cdme-text: #1f2328;
  --cdme-menu-bg: #ffffff;
  --cdme-menu-hover: #f2f3f4;
  --cdme-a: #59636e;
  --cdme-a-hover: #0969da;
  --cdme-border: #d1d9e0;
  --cdme-border-img: var(--cdme-border);
  --cdme-accent: #0969da;
  --cdme-accent-hover: #0550b1;
  --cdme-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --cdme-login-bg: linear-gradient(134deg, #f0f2f5, #d0e9f7);
  --cdme-input-bg: #ffffff;
}

[data-theme='dark'] {
  --cdme-bg: #0d1117;
  --cdme-header-bg: #010409;
  --cdme-text: #f0f6fc;
  --cdme-menu-bg: #181818;
  --cdme-menu-hover: #303030;
  --cdme-a: #9198a1;
  --cdme-a-hover: #4493f8;
  --cdme-border: #3d444d;
  --cdme-border-img: var(--cdme-border);
  --cdme-accent: #4493f8;
  --cdme-accent-hover: #1c7ed6;
  --cdme-shadow: 0 4px 12px rgba(0, 0, 0, 0.34);
  --cdme-login-bg: linear-gradient(134deg, #0d1117, #010409);
  --cdme-scroll: #9f9f9f;
  --cdme-scroll-hover: #d1d1d1;
}
